@import url("https://fonts.cdnfonts.com/css/miama");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  /* overflow: hidden; */
}

:root {
  --color-primary: #e6533c;
  --color-secondary: #fff;
  --global-margin: 0 11rem 0 11rem;
  --mobile-margin: 0 0.8rem 0 0.8rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-page {
  padding: 0.1px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(24, 24, 27, 1) 0%
  );
}

.nav-container {
  margin: var(--global-margin);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--global-margin);
  padding: 1px;
}

.navbar {
  margin-top: 2rem;
}

.logo {
  color: var(--color-primary);
  font-size: 2rem;
  align-items: center;
}

.special {
  background-color: var(--color-primary);
  padding: 0.53rem 1.3rem;
  border-radius: 2.8rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.ul {
  padding: 0.6rem;
  border: 0.5px solid gray;
  border-radius: 2.4rem;
}

.nav-link {
  margin: 0rem 1.4rem 0 1.4rem;
  text-decoration: none;
  border-radius: 0.8rem;
  color: white;
}

.icon {
  color: #fff;
  height: 1.5rem;
  width: 1.5rem;
  display: none;
}

/* till navbar and container */

.hero-heading {
  font-size: 4.8rem;
  color: #fff;
  font-weight: bolder;
  line-height: 1;
  position: relative;
  margin-bottom: 1.8rem;
}

.tag-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.span-1 {
  font-family: "Miama", sans-serif;
  letter-spacing: 0.4rem;
  font-weight: 400;
  display: inline-block;
  position: relative;
  font-size: 8rem;
  margin-bottom: -0.4em;
  line-height: 1;
}

.hero-para {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1.8rem;
}

.btn_join {
  background-color: var(--color-primary);
  color: white;
  padding: 1rem 2.6rem;
  border-radius: 2.6rem;
  cursor: pointer;
  margin-right: 0.9rem;
}

.btn_download {
  background-color: black;
  color: white;
  padding: 1rem 2.6rem;
  border-radius: 2.6rem;
  border: 1px solid white;
  cursor: pointer;
}

.hero-img-section {
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem;
  position: absolute;
  left: -6rem;
  bottom: 5rem;
  border-radius: 12px;
}

.round {
  height: 3.1rem;
  width: 3.1rem;
  border-radius: 50%;
  margin: 0 0.8rem;
  background-color: chocolate;
}
.number {
  color: #fff;
  margin-bottom: 0.3rem;
  letter-spacing: 0.1rem;
}

.video {
  color: rgba(239, 237, 232, 0.65);
}

.box-1 {
  position: absolute;
  right: -3.2rem;
  top: 8rem;
  border-radius: 12px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem;
}

/* Landing Page End */

.habit-section {
  background-color: black;
  color: #fff;
  padding: 4rem 11rem;
}

.habit-heading {
  text-align: center;
  margin-bottom: 1.8rem;
}

.habit-head {
  font-size: 3rem;
  margin-bottom: 0.9rem;
}

.habit-para {
  color: rgba(255, 255, 255, 0.5);
}

.main-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.single-card {
  margin: 0 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-card {
  text-align: center;
}

.habit-img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  border: 2px solid rgb(73, 73, 73);
}

.card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-heading {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.card-para {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

/* till habit */

.extra-mile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  background-color: #222222;
  padding: 2rem 3rem;
  border-radius: 1.1rem;
  overflow: hidden;
}

.btn_join-2 {
  background-color: var(--color-primary);
  color: white;
  padding: 1rem 2.6rem;
  border-radius: 2.6rem;
  cursor: pointer;
  margin: 1rem 0 0 0;
}

.extra-para {
  color: rgba(255, 255, 255, 0.5);
  font-weight: x-small;
}

.image-div {
  width: 366px;
  height: 312px;
  overflow: hidden;
  border-radius: 1.1rem;
}

.imageone {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Habit section End  ---------*/

.unique-section {
  background-color: black;
  color: #fff;
  padding: 2rem 11rem;
}

.uni-heading {
  text-align: center;
  margin-bottom: 1.8rem;
}

.uni-head {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.uni-para {
  color: rgba(255, 255, 255, 0.5);
}

.uni-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.uni-card {
  margin: 1.5rem 2rem;
  padding: 1.5rem 2rem;
  background-color: #222222;
  border-radius: 1rem;
  border: 2px solid transparent;
}

.uni-card:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  border-color: #646464;
}

.uni-img-container {
  width: 300px;
  height: 170px;
  overflow: hidden;
  border-radius: 1.1rem;
}

.uni-h1 {
  margin: 1rem 0;
}

.uni-para {
  color: rgba(255, 255, 255, 0.5);
  font-size: small;
}

.more {
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 2.6rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.more:hover {
  background-color: #222222;
  transition: 0.4s linear;
}

/* Unique Task End */

.calculator-section {
  background-color: black;
  color: #fff;
  padding: 1px;
}

.cal-heading {
  text-align: center;
  padding: 2rem 11rem;
}

.cal-head {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.cal-para {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 0.9rem;
}

.calculation-section {
  background-color: #222222;
}

.cal-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 11rem;
}

.cal-chart {
  padding: 2rem 0;
}

.bmi-head {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}
th,
td {
  padding: 1rem 1.5rem;
  text-align: left;
  border: 1px solid gray;
}

th {
  font-size: 1rem;
  font-weight: 500;
}

td {
  color: rgba(255, 255, 255, 0.5);
}

.all-heading {
  text-align: center;
}

.all-para {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}

.inp-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 1rem 0.5rem;
  padding: 1rem 0.5rem;
}

#select {
  grid-column: span 2;
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.4rem;
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
}

.sex {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.4rem;
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
  color: gray;
}

.btn_calculate {
  background-color: var(--color-primary);
  color: white;
  padding: 1rem 2.6rem;
  border-radius: 2.6rem;
  cursor: pointer;
  margin-left: 1.4rem;
}

/* BMI End */

.team-section {
  background-color: black;
  color: #fff;
  padding: 2rem 11rem;
}

.team-heading {
  text-align: center;
  margin-bottom: 1.8rem;
}

.team-head {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.team-para {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  background-color: #222222;
  border-radius: 1.1rem;
}

.team-card {
  width: 20.3rem;
  height: 17rem;
  padding: 0.9rem 0 0.4rem 0.9rem;
  margin-left: 0.9rem;
  position: relative;
}

.imagetwo {
  width: 100%;
  height: 100%;
  border-radius: 1.1rem;
  object-fit: cover;
}

.team-content {
  position: absolute;
  bottom: 1.6rem;
  left: 4rem;
}

.team-h1 {
  font-size: 1.1rem;
}

.team-p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}

/* Team section end */

.footer-section {
  background-color: black;
  color: #fff;
  padding: 2rem 11rem;
}

.foot-contain {
  display: flex;
  justify-content: space-around;
}

.main-footer {
  margin: 1rem 2rem 0rem 2rem;
  padding: 2rem;
}

.footer-logo {
  font-size: 4.3rem;
  font-weight: bolder;
  color: #e6533c;
}

.footer-para {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
}

.a-container {
  margin: 1rem 2rem 4rem 2rem;
  padding: 2rem;
}

.footer-last {
  font-weight: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.link-container {
  display: flex;
  flex-direction: column;
}

.footer-a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-bottom: 1.7rem;
  font-size: 1.4rem;
}

.copy-right {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 2rem;
  font-size: 1.3rem;
}

/* End ----*/

@media screen and (max-width: 576px) {
  .icon {
    display: inline-block;
  }

  .navbar {
    margin-top: 0.8rem;
  }
  .nav-container {
    margin: 1rem;
  }
  .container {
    margin: 1rem 1rem 0 1rem;
    flex-direction: column;
  }

  .nav-container {
    margin: var(--mobile-margin);
  }
  .ul {
    display: none;
  }

  .hero-heading {
    font-size: 2.2rem;
    margin: 2rem 0;
  }

  .span-1 {
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    margin-top: -3rem;
    font-weight: 100;
    line-height: 0;
  }

  .hero-para {
    color: rgba(255, 255, 255, 0.5);
    margin: 1.8rem 0;
  }

  .btn_container {
    display: flex;
  }
   
  .box {
    left: 2rem;
    bottom: 15rem;
    padding: 0.7rem;
  }

  .round {
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    margin: 0 0.4rem;
  }

  .number {
    color: #fff;
    margin-bottom: 0.1rem;
  }
  .workout {
    font-size: x-small;
  }
  .tutorail {
    font-size: small;
  }
  .box-1 {
    right: 2rem;
    top: 4rem;
    padding: 0.7rem;
  }

  /* Landing Page End */

  .habit-section {
    padding: 0.3rem 0.8rem;
  }

  .habit-heading {
    margin-bottom: 0.8rem;
  }

  .habit-head {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .main-card {
    flex-direction: column;
    margin-top: 2.5rem;
  }

  .single-card {
    margin: 0 0.7rem;
  }

  .card-content {
    margin: 1.8rem 0;
  }

  .card-heading {
    margin-bottom: 0.2rem;
  }

  /* till Habit  */

  .extra-mile {
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem 1rem;
  }

  .btn_container-2 {
    margin-left: 30%;
  }

  .btn_join-2 {
    margin: 1rem 0;
  }

  /* Habit Section Done */

  .unique-section {
    background-color: black;
    color: #fff;
    padding: 0.3rem 0.8rem;
  }

  .uni-heading {
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .uni-head {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
  }

  .uni-para {
    font-size: x-small;
  }

  .uni-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .uni-card {
    margin: 0.7rem 1.2rem;
    padding: 0.7rem 1.2rem;
  }

  .uni-img-container {
    width: 320px;
    height: 130px;
  }

  .uni-h1 {
    margin: 0.5rem 0;
  }

  /* Unique Task End */
  .cal-heading {
    padding: 0.3rem 0.8rem;
    margin-bottom: 1rem;
  }

  .cal-head {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }

  .cal-para {
    font-size: 0.9rem;
  }

  .cal-container {
    flex-direction: column;
    padding: 0.2rem 0.4rem;
  }

  .cal-chart {
    padding: 1.5rem 0;
  }

  .bmi-head {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.2rem;
  }
  th,
  td {
    padding: 0.8rem 1rem;
  }

  th {
    font-size: 0.9rem;
    font-weight: 400;
  }

  td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
  }

  .all-para {
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
  }

  /* BMI-Section End -----*/

  .team-section {
    padding: 0.3rem 0.8rem;
  }

  .team-heading {
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .team-head {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }

  .team-para {
    font-size: 0.9rem;
  }

  .team-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .num-1, .num-4 {
    display: none;
  }

  .team-card {
    width: 20.3rem;
    height: 17rem;
    padding: 0.9rem 0 0.9rem 0.9rem;
    left: 1.1rem;
  }

  .imagetwo {
    width: 100%;
    height: 100%;
    border-radius: 1.1rem;
    object-fit: cover;
  }

  .team-content {
    bottom: 1.6rem;
    left: 4rem;
  }

  .team-h1 {
    font-size: 1.1rem;
  }

  .team-p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
  }

  /* Team Section End--------- */

  .footer-section {
  padding: 0.3rem 0.8rem;
}

.foot-contain {
  flex-direction: column;
}

.main-footer {
  margin: 0.5rem 1rem 0rem 0rem;
  padding: 0.5rem;
}

.a-container {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.footer-last {
  margin-bottom: 1rem;
}

.footer-a {
  margin-bottom: 0.5rem;
}

.copy-right {
  margin: 1rem;
}
}
